html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#ratoazul{
    background-image: url(indoalipc.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#placeholder{
    position: fixed;
    top: 50%;
    left: 0;
    background-color: white;
    padding: 20px;
    margin-left: 10%;
    text-align: center;
}

#text > p{
    font-size: 200%;
}

#buttonplaceholder{
    display: flex;
    margin: auto;
    width: 70%;
    justify-content: space-between;
}

button{
    font-size: 500%;
}

a{
    text-decoration: none;
}

@media (max-width: 768px) {
    #ratoazul{
        background-image: url(indoalicll.jpg);
        background-position: center;
    }

    #text > p{
        font-size: 20px;
    }

    #placeholder{
        border-radius: 0%;
        position: fixed;
        margin: auto;
        bottom: 0;
        width: 100%;
        background-color: rgb(0, 81, 255);
    }
}
